.body {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 1450px) {
  .body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 800px) {
    .body{
        padding-top: 0px;
    }
  }
  