:root {
    --bg-color-900: #2a2c2e;
    --skin-color: #945555dc;
    --text-300: #ccd6f6;
}

.body{
    padding-top: 150px;
    padding-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

