html {
    scroll-behavior: smooth;            
}
body{
    background-color: var(--bg-color-900);
    color: var(--text-300);
    overflow-x: hidden;
}
.home{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1340px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--bg-color-900);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--text-400); 
}
@media only screen and (max-width: 1340px) {
    .home{
        width: 100%;
    }
}